[submodule "Assets/LuaScripts/LuaKit"]
	path = Assets/LuaScripts/LuaKit
	url = https://github.com/iwiniwin/LuaKit.git
[submodule "Assets/ThirdParty/UEditor"]
	path = Assets/ThirdParty/UEditor
	url = https://github.com/iwiniwin/UEditor.git
[submodule "Assets/ThirdParty/UDK"]
	path = Assets/ThirdParty/UDK
	url = https://github.com/iwiniwin/UDK.git
